<h1>{{name}}</h1>

<dl> <!-- Definition List--> <!-- -->
  <td>Nombre:</td> <!-- Table Description -->
  <dd>{{name}}</dd> <!-- Description -->

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizeName}}</dd>


</dl>

<button
*ngIf="name !== 'Spider-Man'"
(click)="changeHero()"
class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
*ngIf="age !== 23"
(click)="changeAge()"
class="btn btn-primary ">
  Cambiar edad
</button>

<button
(click)="resetForm()"
class="btn btn-primary mx-2">
  Reset
</button>


